/**
 * /*---Hi, this is Collo---
 *
 * @format
 */


/*---Start Fonts---*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&amp;display=swap");
@font-face {
  font-family: "Romantica Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Romantica Regular"), url("Romantica-RpXpW.woff") format("woff");
}
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300&amp;display=swap");
@font-face {
  font-family: "Netflix Sans Light";
  font-style: normal;
  font-weight: normal;
  src: local("Netflix Sans Light"), url("NetflixSansLight.woff") format("woff");
}
/*---End Fonts---*/

/*---Start Variables---*/
:root {
  /* --main-color: #e02f6b; */
  --main-color: #c70039;
  --blue: #0000ff;
  --blue-dark: #333;
  --orange: #ffa500;
  --green-yellow: #cddc39;
  --blue-light: #5adeff;
  --cyan-light: #4ee0d8;
  --orange-green: #dcd739;
  --white: #fff;
  --white-alpha-40: rgba(255, 255, 255, 0.4);
  --white-alpha-25: rgba(255, 255, 255, 0.25);
  --backdrop-filter-blur: blur(5px);
}

/*---End Variables---*/
/*Loader Start*/
/* Absolute Center Spinner */
.new_loader {
  display: none;
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.new_loader:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));

  background: -webkit-radial-gradient(
    rgba(20, 20, 20, 0.8),
    rgba(0, 0, 0, 0.8)
  );
}

/* :not(:required) hides these rules from IE9 and below */
.new_loader:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.new_loader:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 1.5em 0 0,
    rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) -1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 -1.5em 0 0,
    rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 1.5em 0 0,
    rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) -1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 -1.5em 0 0,
    rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*Loader End*/
/*Start Swal*/

.swal-overlay--show-modal .swal-modal {
  background-color: rgba(14, 14, 14, 0.8);
  border: 1px solid rgba(14, 14, 14, 0.64);
}
.swal-icon--success::before,
.swal-icon--success::after {
  background: transparent !important;
}
.swal-icon--success__hide-corners {
  background-color: transparent !important;
}
.swal-title {
  color: #fff;
}
/*End Swal*/

/*---Start Global Settings---*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  scrollbar-width: thin;
  scrollbar-color: var(--main-color) transparent;
}

::before,
::after {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: var(--blue-light);
  background-attachment: fixed;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: var(--blue-dark);
  line-height: 1.5;
  overflow-x: hidden;
  -webkit-top-highlight-color: transparent;
  padding: 35px 15px;
  letter-spacing: 0.5px;
  transition: background-color 3s !important;
}
body.hide-scrolling {
  overflow-y: hidden;
}
body::before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--green-yellow);
  z-index: -1;
  opacity: 0.12;
}
a {
  text-decoration: none;
  color: #e02f6b;
}
h1,
h2 {
  font-weight: 300;
}
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  list-style: none;
}
section {
  background-color: var(--white-alpha-25);
  border: 1px solid (--white-alpha-40);
  min-height: calc(100vh - 70px);
  border-radius: 30px;
  backdrop-filter: var(--backdrop-filter-blur);
  display: none;
}
section.active {
  display: block;
  animation: fadeIn 0.5s ease-in-out forwards;
}
section.fade-out {
  animation: fadeOut 0.5s ease-in-out forwards;
}
.main {
  max-width: 1200px;
  margin: auto;
  transition: all 0.5s ease-in-out;
  position: relative;
}
.main.fade-out {
  opacity: 0;
}
.container {
  padding: 0 40px;
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.align-items-center {
  align-items: center;
}
/*---End Global Settings---*/
.hidden {
  display: none !important;
}
.sec-padding {
  padding: 80px 0;
}
.flex-end {
  justify-content: flex-end;
}
/*---Start Section Title---*/

.mytitles {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 1em;
  padding-bottom: 1em;
  width: 100%;
  /* padding-top: 1em; */
  margin-top: 1em;
}
.mytitles::after {
  background-color: var(--main-color);
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  margin-bottom: -0.5em;
  transform: translate(-50%, 0);
  width: 100px;
}
.section-title {
  padding: 0 15px;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}
.section-title h2 {
  font-size: 40px;
  font-family: "Netflix Sans Light";

  text-transform: capitalize;
}
.section-title p {
  color: var(--main-color);
  letter-spacing: 0.6px;
}
/*---End Section Title---*/

/*---Start Custom Scrollbar---*/
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--white);
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  -moz-background-color: #e02f6b !important;
  -webkit-background-color: var(--main-color);
  -moz-background-color: var(--main-color);
  -ms-background-color: var(--main-color);
  -o-background-color: var(--main-color);
}
/*---End Custom Scrollbar---*/

/*---Start Buttons---*/
button {
  font-family: inherit;
  user-select: none;
}
.btn {
  line-height: 1.5;
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
  padding: 10px 28px;
  display: inline-block;
  border-radius: 30px;
  color: var(--main-color);
  font-weight: 500;
  text-transform: capitalize;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color: var(--main-color);
  z-index: -1;
  transition: width 0.3s ease;
}
.btn:hover::before {
  width: 100%;
}
.btn:hover {
  color: var(--white) !important;
}
.btn a:hover {
  color: var(--white);
}

/*---End Buttons---*/

/*---Start Animation keyframes---*/

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes heyThere {
  0% {
    transform: scale(0);
  }
  5% {
    transform: scale(1);
  }
  10% {
    opacity: 1;
    /* transform: translateX(0px); */
  }
  25% {
    opacity: 1;
    /* transform: translateX(0px); */
  }
  30% {
    opacity: 0;
    /* transform: translateX(100px); */
  }

  100% {
    transform: scale(1);
  }
}
@keyframes topTobottom {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  5% {
    opacity: 0;
    /* transform: translateY(-50px); */
    transform: scale(1);
  }
  10% {
    opacity: 1;
    /* transform: translateY(0px); */
  }
  25% {
    opacity: 1;
    /* transform: translateY(0px); */
    transform: scale(1);
  }
  30% {
    opacity: 0;
    /* transform: translateY(50px); */
    transform: scale(0);
  }
  /* 80% {
    opacity: 0;
  } */
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
@keyframes spinText {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
}
@keyframes bounceTop {
  0%,
  100% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(0px);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*---End Animation keyframes---*/
/*---Start Background Circles---*/

.bg-circles {
  position: fixed;
  top: 0;
  height: 100%;
  max-width: 1200px;
  width: calc(100% - 30px);
  left: 50%;
  transform: translateX(-50%);
}
.bg-circles div {
  position: absolute;
  border-radius: 50%;
}
.bg-circles .circle-1 {
  height: 60px;
  width: 60px;
  background-color: var(--blue);
  left: 5%;
  top: 10%;
  opacity: 0.3;
  animation: zoomInOut 8s linear infinite;
}
.bg-circles .circle-2 {
  height: 80px;
  width: 80px;
  background-color: var(--main-color);
  left: 30%;
  top: 50%;
  opacity: 0.4;
  animation: bounceTop 5s ease-in-out infinite;
}
.bg-circles .circle-3 {
  height: 120px;
  width: 120px;
  background-color: var(--white);
  top: 40%;
  right: -60px;
  opacity: 0.6;
}
.bg-circles .circle-4 {
  height: 50px;
  width: 50px;
  background-color: var(--orange);
  top: 80%;
  left: -30px;
  opacity: 0.6;
}
/*---End Background Circles---*/

/*---Start Overlay Section---*/
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 200;
  opacity: 0.5;
  visibility: hidden;
}
.overlay.active {
  visibility: visible;
}
/*---End Overlay Section---*/
/*---Start Page Loader---*/
.page-loader {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  background-color: var(--white-alpha-25);
  backdrop-filter: var(--backdrop-filter-blur);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.6s ease;
}
.page-loader.fade-out {
  opacity: 0;
}
.page-loader div {
  border: 2px solid transparent;
  position: absolute;
  border-radius: 50%;
  opacity: 0.6;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  animation: spin 1s linear infinite;
}
.page-loader div:nth-child(1) {
  height: 60px;
  width: 60px;
  border-color: var(--main-color);
}
.page-loader div:nth-child(2) {
  height: 45px;
  width: 45px;
  border-color: var(--blue);
  animation-duration: 1.2s;
}
.page-loader div:nth-child(3) {
  height: 30px;
  width: 30px;
  border-color: var(--orange);
}

/*---End Page Loader---*/
/*---Start Header Section---*/
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 20px 0 0;
}
.header.active {
  position: fixed;
  top: 35px;
  padding: 20px 15px;
}
.header.active .container {
  max-width: 1200px;
  margin: auto;
}
.header .nav-toggler {
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  z-index: 1;
  transition: opacity 0.3s ease-in-out;
}
.header .nav-toggler.hide {
  opacity: 0;
  transition: none;
}

.header .nav-toggler span {
  height: 2px;
  width: 24px;
  background-color: var(--main-color);
  position: relative;
  transition: background-color 0.3s ease;
}
.header.active .nav-toggler span {
  background-color: transparent !important;
}
.header .nav-toggler span::before,
.header .nav-toggler span::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transition: all 0.3s ease;
}
.header .nav-toggler span::before {
  left: 0;
  transform: translateY(-8px);
}
.header.active .nav-toggler span::before {
  transform: rotate(45deg);
}
.header .nav-toggler span::after {
  right: 0;
  transform: translateY(8px);
}
.header.active .nav-toggler span::after {
  transform: rotate(-45deg);
}
.header:not(.active) .nav-toggler:hover span::before,
.header:not(.active) .nav-toggler:hover span::after {
  width: 50%;
}
.header .nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 35px 15px;
  overflow-y: auto;
  visibility: hidden;
}
.header.active .nav {
  visibility: visible !important;
}
.header .nav-inner {
  min-height: calc(100vh - 70px);
  max-width: 1200px;
  margin: auto;
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
  backdrop-filter: var(--backdrop-filter-blur);
  padding: 50px 0;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s ease;
}
.header.active .nav-inner {
  opacity: 1;
}
.header .nav-inner ul li {
  text-align: center;
}
.header .nav-inner ul li a {
  font-size: 40px;
  text-transform: capitalize;
  color: var(--blue-dark);
  display: block;
  font-weight: 500;
  padding: 8px 15px;
  transition: color 0.3s ease;
  position: relative;
}
.header .nav-inner ul li a::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 50%;
  width: 0%;
  background-color: var(--white-alpha-25);
  z-index: -1;
  transition: width 0.5s ease;
}
.header .nav-inner ul li a:hover::before {
  width: 100%;
}
.header .nav-inner ul li a:hover {
  color: var(--main-color);
}
/*---End Header Section---*/

/*---Start Home Section---*/

.home-section {
  padding: 120px 0;
}
.home-section.active {
  display: flex;
}
.home-text,
.home-img {
  width: 50%;
  padding: 15px;
}
.home-text p {
  font-size: 18px;
  padding-bottom: 1em;
}
.home-text h1 {
  font-size: 50px;
  text-transform: capitalize;
}
.home-text .collo {
  font-family: "Romantica Regular" !important;
  font-weight: 900;
  font-size: 2em;
}
.home-text h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 2em;
  text-transform: capitalize;
}
.intro {
  font-size: 40px;
  font-weight: 700;
  display: flex;
  text-align: center;
}
.wrapping {
  white-space: nowrap;
}
.typing {
  position: relative;
  margin-left: 10px;
}
.typing::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 50%;
  top: 30%;
  right: -5px;
  border-right: 2px solid var(--blue-dark);
  animation: blink 0.8s infinite ease;
}
.slidingVertical {
  display: inline;
  text-indent: 9px;
}
.slidingVertical span {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  animation: topTobottom 15s linear infinite;
}
.slidingVertical span:nth-child(2) {
  animation-delay: 3s;
}
.slidingVertical span:nth-child(3) {
  animation-delay: 6s;
}
.slidingVertical span:nth-child(4) {
  animation-delay: 9s;
}
.slidingVertical span:nth-child(5) {
  animation-delay: 12s;
}

.home-text .btn {
  margin: 0 15px 15px 0;
}
.home-img .img-box {
  max-width: 360px;
  background-color: var(--white-alpha-25);
  border-radius: 50%;
  border: 8px solid var(--white-alpha-25);
  margin: auto;
}
.home-img .img-box img {
  width: 100%;
  border-radius: 50%;
}
/*---End Home Section---*/
/*---Start About Section---*/
.about-img {
  width: 40%;
  padding: 15px;
}

.about-text {
  width: 60%;
  padding: 0 15px;
}
.about-img .img-box {
  max-width: 360px;
  background-color: var(--white-alpha-25);
  border-radius: 50%;
  border: 8px solid var(--white-alpha-40);
  margin: auto;
}
.about-img .img-box img {
  width: 100%;
  border-radius: 50%;
}
.about-text p {
  line-height: 30px;
  font-size:14px !important;
}
.about-text h3 {
  text-transform: capitalize;
  font-size: 17px;
  margin: 20px 0;
}
.about-text .skills {
  display: flex;
  flex-wrap: wrap;
}
.about-text .skill-item {
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
  padding: 5px 15px;
  text-transform: capitalize;
  margin: 0 10px 10px 0;
  border-radius: 20px;
  font-size: 13px;
}
.about-tabs {
  margin-top: 20px;
}
.about-tabs .tab-item {
  padding: 2px 0;
  background-color: transparent;
  border: none;
  text-transform: capitalize;
  display: inline-block;
  color: var(--blue-dark);
  font-size: 18px;
  cursor: pointer;
  font-weight: 500;
  margin: 0 30px 0 0;
  position: relative;
  opacity: 0.5;
  transition: all 0.3s ease;
}
.about-tabs .tab-item:last-child {
  margin: 0;
}
.about-tabs .tab-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: var(--blue-dark);
  transition: width 0.3s ease;
}
.about-tabs .tab-item:hover::before {
  width: 100%;
}
.about-tabs .tab-item.active::before {
  width: 100%;
  background-color: var(--main-color);
}
.about-tabs .tab-item.active {
  color: var(--main-color);
  opacity: 1;
  cursor: auto;
}
.about-text .timeline {
  position: relative;
}
.about-text .timeline::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
  left: 5px;
  background-color: var(--main-color);
}
.about-text .tab-content {
  padding: 40px 0;
  display: none;
}
.about-text .tab-content.active {
  display: block;
}
.about-text .timeline-item {
  margin-bottom: 30px;
  position: relative;
  padding: 10px 0 0 40px;
}
.about-text .timeline-item::before {
  content: "";
  position: absolute;
  height: 11px;
  width: 11px;
  background-color: var(--main-color);
  left: 0;
  top: 12%;
  border-radius: 50%;
}
.about-text .timeline-item:last-child {
  margin-bottom: 0;
}
.about-text .timeline-item .date {
  display: block;
  color: var(--main-color);
  font-weight: 400;
  margin: 0 0 10px;
}
.about-text .timeline-item h4 {
  font-size: 16px;
  text-transform: capitalize;
  margin: 0 0 10px;
  /*font-family: "Assistant", sans-serif;*/
}
.about-text .timeline-item h4 span {
  font-weight: 400;
}
.about-text.btn {
  margin: 0 15px 15px 0;
}

/*---End About Section---*/
/*---Start Portfolio Section---*/
.tab-content {
  padding: 30px 0;
  display: none;
}
.tab-content.active {
  display: flex;
  width: 100%;
}
.work-tabs {
  margin: 0 0 20px 0;
  text-align: center;
}
.work-tabs .tab-item {
  padding: 2px 0;
  background-color: transparent;
  border: none;
  text-transform: capitalize;
  display: inline-block;
  color: var(--blue-dark);
  font-size: 16px !important;
  cursor: pointer;
  font-weight: 500;
  margin: 0 30px 0 0;
  position: relative;
  opacity: 0.5;
  transition: all 0.3s ease;
}
.work-tabs .tab-item:last-child {
  margin: 0;
}
.work-tabs .tab-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: var(--blue-dark);
  transition: width 0.3s ease;
}
.work-tabs .tab-item:hover::before {
  width: 100%;
}
.work-tabs .tab-item.active::before {
  width: 100%;
  background-color: var(--main-color);
}
.work-tabs .tab-item.active {
  color: var(--main-color) !important;
  opacity: 1;
  cursor: auto;
}

.portfolio-section {
  padding-bottom: 50px;
}
.portfolio-item {
  width: calc((100% / 3) - 30px);
  margin: 0 15px 30px;
}
.portfolio-item_2 {
  width: calc((100% / 4) - 30px);
  margin: 0 15px 30px;
}
.portfolio-item_3 {
  width: calc((100% / 4) - 30px);
  margin: 0 15px 30px;
}
.books {
  width: 100%;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 1em;
}
.portfolio-item-thumbnail {
  padding: 10px;
  background-color: var(--white-alpha-25);
  /* filter: blur (2px); */
  border: 1px solid var(--white-alpha-40);
  border-radius: 10px;
}
.portfolio-item-thumbnail img {
  width: 100%;
  border-radius: 10px;
}
.portfolio-item h3 {
  font-size: 16px;
  text-transform: capitalize;
  margin: 20px 0;
}
.portfolio-item_2 h3 {
  font-size: 20px;
  text-transform: capitalize;
  margin: 20px 0;
}
.portfolio-item-details {
  display: none;
  font-family: "Assistant", sans-serif;
}

/*---End Portfolio Section---*/
/*---Start Portfolio Popup---*/
.portfolio-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 200;
  visibility: hidden;
}
.portfolio-popup.open {
  visibility: visible;
  overflow-y: auto;
}

.pp-inner {
  min-height: 100vh;
  padding: 40px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pp-content {
  background-color: var(--white-alpha-25);
  padding: 30px;
  border-radius: 30px;
  max-width: 900px;
  width: 100%;
  border: 1px solid var(--white-alpha-40);
  backdrop-filter: var(--backdrop-filter-blur) !important;
  opacity: 0;
  transform: scale(0.9);
}
.portfolio-popup.open .pp-content {
  opacity: 1;
  transform: scale(1);
  transition: all 0.5s;
}
.pp-header {
  position: relative;
}
.pp-header .btn {
  height: 40px;
  width: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -40px;
  top: -40px;
}
.pp-thumbnail img {
  border-radius: 10px;
}
.pp-header h3 {
  font-size: 25px;
  text-transform: capitalize;
  margin: 20px 0 15px;
}
.pp-body .description {
  margin-bottom: 20px;
}
.pp-body .general-info li {
  margin-bottom: 10px;
  font-weight: 500;
  text-transform: capitalize;
}
.pp-body .general-info li span {
  font-weight: 300;
}
.pp-body .general-info li a {
  text-transform: lowercase;
  color: var(--main-color);
}
.description p {
  line-height: 30px;
}
/*---End Portfolio Popup---*/

/*---Start contact section---*/

.contact-form {
  width: 70%;
  padding: 0 15px;
}
.contact-info {
  width: 30%;
  padding: 0 15px;
}
.contact-form .input-group {
  width: 100%;
  margin-bottom: 30px;
}
.contact-form .input-control::placeholder {
  color: var(--blue-dark);
  opacity: 0.8;
  font-weight: 300;
}
.contact-form .input-control {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border: none;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--white-alpha-25);
  padding: 0 20px;
  color: var(--blue-dark);
  border: 1px solid transparent;
  transition: border-color 0.3 ease;
}
.contact-form .input-control:focus {
  border-color: var(--white-alpha-25);
}
.contact-form textarea.input-control {
  height: 120px;
  resize: none;
  padding-top: 15px;
}
.contact-info-item {
  margin: 0 0 30px;
  padding: 0 0 0 20px;
}
.contact-info-item h3 {
  font-size: 20px;
  text-transform: capitalize;
  margin: 0 0 5px;
}
.contact-info-item .social-links a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
  color: var(--main-color);
  border-radius: 50%;
  margin: 6px 4px 0 0;
  transition: all 0.3 ease;
}
.contact-info-item .social-links a:hover {
  color: var(--white);
  background-color: var(--main-color);
}
.contactGreet {
  display: inline;
  font-size: 40px;
  text-indent: 8px;
}
.contactGreet span {
  opacity: 0;
  overflow: hidden;
  position: relative;
  /* top: 25%; */
  color: var(--main-color);
  animation: heyThere 9s linear infinite;
}
.contactGreet span:nth-child(2) {
  animation-delay: 3s;
}
.contactGreet span:nth-child(3) {
  animation-delay: 6s;
}
.contactGreet span:nth-child(4) {
  animation-delay: 9s;
}
/*---End contact section---*/

/*---Start Footer section---*/
.footer {
  text-align: center;
  /* position: fixed; */
  /* left: 0; */
  /* bottom: 0; */
  width: 100%;
  padding: 2em !important;
}
.footer p {
  font-size: 14px;
}
.myname {
  font-family: "Romantica Regular";
  display: inline-block;
  font-weight: bold;
  font-size: 2em;
  color: #000;
}
/*---End Footer section---*/

/*---Start Responsive---*/
@media (max-width: 991px) {
  .container {
    padding: 0;
  }
  .home-text,
  .home-img {
    width: 100%;
  }
  .home-text {
    text-align: center;
  }
  .intro {
    padding-right: 25%;
  }
  .home-img {
    order: -1;
  }
  .home-img .img-box {
    max-width: 300px;
  }

  .portfolio-item {
    width: calc(50% - 30px);
  }
  .portfolio-item_2 {
    width: calc(50% - 30px);
  }
}
@media (max-width: 767px) {
  .contact-form,
  .contact-info,
  .about-img,
  .about-text {
    width: 100%;
  }
  .about-text {
    margin-top: 30px;
  }
  .portfolio-item {
    width: calc(100% - 30px);
  }
  .pp-inner {
    padding: 30px 15px;
  }
  .contact-info {
    order: -1;
    margin-bottom: 15px;
  }
  .contact-info-item {
    padding: 0;
  }
  .work-tabs .tab-item{
      font-size:18px !important;
  }
}
@media (max-width: 575px) {
  .section-title h2,
  .header .nav-inner ul li a {
    font-size: 35px;
  }
  .home-text p {
    font-size: 15px;
  }
  .home-text h1 {
    font-size: 30px;
  }
  .home-text h2 {
    font-size: 30px;
  }
  .pp-header h3 {
    font-size: 18px;
  }
  
}
@media (max-width: 440px) {
  .intro {
    padding-right: 40%;
    font-size: 15px;
  }
  .home-text h2 {
    font-size: 25px;
  }
  .typing {
    position: relative;
    margin-left: 2px;
  }

  .work-tabs .tab-item {
    line-height: 2em;
    font-size: 23px;
  }
  .contactGreet span {
    font-size: 30px;
  }
  .books {
    text-align: center;
  }
  .portfolio-item_2 {
    width: 100%;
  }
  .portfolio-item_3 {
    width: 100%;
  }
}
/*---End Responsive---*/
